<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
         matSort
         matSortActive="onset" matSortDirection="desc">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let condition"> {{condition.id}} </td>
    </ng-container>

    <ng-container matColumnDef="onset">
      <th mat-header-cell *matHeaderCellDef> Onset </th>
      <td mat-cell *matCellDef="let condition"> {{condition.onsetDateTime | date: 'dd-MMM-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="recorded">
      <th mat-header-cell *matHeaderCellDef> Recorded </th>
      <td mat-cell *matCellDef="let condition"> {{condition.recordedDate | date: 'dd-MMM-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="abatement">
      <th mat-header-cell *matHeaderCellDef> Abatement </th>
      <td mat-cell *matCellDef="let condition"> {{condition.abatementDateTime | date: 'dd-MMM-yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Condition </th>
      <td mat-cell *matCellDef="let condition">
        <app-clinical-concept [setConcept]="condition.code"></app-clinical-concept>
      </td>
    </ng-container>

    <ng-container matColumnDef="asserter">
      <th mat-header-cell *matHeaderCellDef> Asserter </th>
      <td mat-cell *matCellDef="let condition">
        <span [innerHTML]="fhirService.getReference(condition.asserter)"></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let condition">  <span *ngIf="condition.category !== undefined">
        <i *ngFor="let category of condition.category"> {{category.coding[0].display}}</i>
      </span> </td>
    </ng-container>

    <ng-container matColumnDef="clinicalstatus">
      <th mat-header-cell *matHeaderCellDef> Clinical Status </th>
      <td mat-cell *matCellDef="let condition">
        <span *ngIf="condition.clinicalStatus !== undefined" [innerHTML]="fhirService.getCodeableConcept(condition.clinicalStatus)">

        </span></td>
    </ng-container>

    <ng-container matColumnDef="verificationstatus">
      <th mat-header-cell *matHeaderCellDef> Verification </th>
      <td mat-cell *matCellDef="let condition">
        <span *ngIf="condition.verificationStatus !== undefined" [innerHTML]="fhirService.getCodeableConcept(condition.verificationStatus)">

        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="severity">
      <th mat-header-cell *matHeaderCellDef> Severity </th>
      <td mat-cell *matCellDef="let condition">
        <span *ngIf="condition.severity !== undefined" [innerHTML]="fhirService.getCodeableConcept(condition.severity)">
        </span>
      </td>
    </ng-container>


    <ng-container matColumnDef="resource">
      <th mat-header-cell *matHeaderCellDef style="width: 50px;"></th>
      <td mat-cell *matCellDef="let condition">
          <span *ngIf="environment.addDataSupport">
        <button mat-icon-button color="accent" matTooltip="Edit" (click)="edit(condition)"><mat-icon>mode_edit</mat-icon></button>
        <button mat-icon-button color="accent" matTooltip="Delete" (click)="delete(condition)"><mat-icon>delete</mat-icon></button>
              </span>
        <button mat-icon-button color="accent"  matTooltip="View FHIR resource" (click)="select(condition)"><mat-icon>fireplace</mat-icon></button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

