<span *ngIf="questionnaire !== undefined">
<mat-card>
    <mat-card-header>
        <mat-card-title>{{questionnaire.title}}</mat-card-title>
        <mat-card-subtitle>
             <div *ngIf="questionnaire !== undefined && questionnaire.code !== undefined && questionnaire.code.length> 0">
                <small>Code</small> &nbsp;
                 <span *ngFor="let coding of questionnaire.code">
                     <span *ngIf="coding.system !== undefined && coding.system === 'http://snomed.info/sct'; else templateName">
                          <button mat-stroked-button color="primary"  (click)="selectConcept(coding)">{{dlgservice.getSystem(coding.system)}} {{coding.code}}</button>
                     </span>
                      <ng-template #templateName>
                       <button mat-stroked-button (click)="selectConcept(coding)">{{dlgservice.getSystem(coding.system)}} {{coding.code}}</button>
                    </ng-template>
                 </span>
            </div>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Summary">

                  <span *ngIf="questionnaire?.purpose !== undefined">
                        <h3>Purpose</h3>
                        <td-markdown [innerHTML]="questionnaire.purpose"></td-markdown>
                    </span>
                     <span *ngIf="questionnaire?.description !== undefined">
                        <h3>Description</h3>
                        <td-markdown [innerHTML]="questionnaire.description"></td-markdown>
                    </span>
          </mat-tab>
          <mat-tab label="Metadata">
              <div layout="row" layout-align="space-between start">
                  <div >
                          <div>
                            <h3>url</h3>
                              {{questionnaire.url}}
                        </div>
                        <div>
                            <h3>id</h3>
                            {{questionnaire.id}}
                        </div>
                        <div *ngIf="questionnaire?.identifier !== undefined">
                            <h3>identifier</h3>
                            <span *ngFor="let ident of questionnaire?.identifier">
                            {{ident.value}}
                                </span>
                        </div>
                  </div>
                  <div>
                      <div *ngIf="questionnaire?.contact !== null">
                          <h3>Contacts</h3>
                          <span *ngFor="let contact of questionnaire?.contact">
                              <div>{{contact.name}}</div>
                          </span>
                      </div>
                      </div>
                  </div>
          </mat-tab>

        </mat-tab-group>



        <h2>Items</h2>

    <mat-tree  [dataSource]="dataSource" [treeControl]="treeControl" >

        <mat-tree-node *matTreeNodeDef="let item" matTreeNodeToggle>
            <li class="mat-tree-node">
                <!-- use a disabled button to provide padding for tree leaf -->
                <button mat-icon-button disabled></button>

               <app-questionnaire-item [item]="item"></app-questionnaire-item>
            </li>
        </mat-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let item;when: hasChild" >

                <div class="mat-tree-node">
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'Toggle ' + item.text">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(item) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                   <app-questionnaire-item [item]="item"></app-questionnaire-item>
                </div>
                <ul [class.example-tree-invisible]="!treeControl.isExpanded(item)"
                    role="group">

                    <ng-container matTreeNodeOutlet></ng-container>
                </ul>

        </mat-nested-tree-node>
    </mat-tree>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button color="accent"  matTooltip="View FHIR resource" (click)="select(questionnaire)"><mat-icon>code</mat-icon></button>
    </mat-card-actions>
</mat-card>


</span>
