
    <mat-card class="fullscreen scrollable-content">
        <td-breadcrumbs>
            <a td-breadcrumb [routerLink]="['/patient', patientId]">Patient</a>
            <td-breadcrumb>Referrals, Tasks and Interventions</td-breadcrumb>
        </td-breadcrumbs>
        <span *ngIf="environment.hintsSupport">
        <td-markdown>The API Framework is based on [FHIR Workflow](https://www.hl7.org/fhir/workflow-module.html)</td-markdown>
        </span>
        <div *tdLoading="  'overlayStarSyntax'; mode: loadingMode.Indeterminate; type: loadingType.Circular;  strategy: loadingStrategy.Overlay;  color: 'accent'">
            <mat-card-content>

                <h3>Referrals and Interventions</h3>
                <span flex></span>
                <span *ngIf="environment.addDataSupport">
                    <div *ngIf="patientId !== undefined" class="list-horizontal">
                            <button mat-stroked-button color="accent"  (click)="addServiceRequest()">Add Service Request</button>
                    </div>
                </span>
                <span *ngIf="requests.length>0">
                      <app-referral-request [referrals]="requests" (taskChange)="getResultsEvent($event)"> </app-referral-request>
                       </span>
                <span *ngIf="requests.length==0">
                       No results found.
                   </span>
            </mat-card-content>
            <mat-card-content>
                    <h3>Tasks</h3>
                    <span flex></span>
                <span *ngIf="environment.addDataSupport">
                    <div *ngIf="patientId !== undefined" class="list-horizontal">

                            <button mat-stroked-button color="accent"  (click)="addTask(0)"> Add Task</button>
                            <button mat-stroked-button color="accent"  (click)="addTask(3)"> Add Activity Request</button>
                            <button mat-stroked-button color="accent"  (click)="addTask(1)"> Add Form Completion Task</button>

                    </div>
                </span>
                <span *ngIf="tasks.length>0">
                      <app-task [tasks]="tasks" (task)="getResultsEvent($event)"> </app-task>
                       </span>
                <span *ngIf="tasks.length==0">
                       No results found.
                   </span>
            </mat-card-content>
        </div>
    </mat-card>
