
<form class="example-form">
   <span *ngFor="let answer of item?.answer">
     <span *ngIf="answer.valueCoding !== undefined">
        <mat-form-field class="example-full-width">
            <mat-label>{{item?.text}}</mat-label>
           <select matNativeControl required disabled="true">
            <option value="volvo" selected>{{fhir.getCodingValue(answer.valueCoding)}}</option>
          </select>
          </mat-form-field>
     </span>
     <span *ngIf="answer.valueReference !== undefined">
        <mat-form-field class="example-full-width">
            <mat-label>{{item?.text}}</mat-label>
            <input matInput disabled="true" [value]="fhir.getReference(answer.valueReference)">
          </mat-form-field>
     </span>
      <span *ngIf="answer.valueQuantity !== undefined">
         <div style="display: flex;">
         <mat-form-field class="example-full-width">
            <mat-label>{{item?.text}}</mat-label>
            <input matInput disabled="true" [value]="fhir.getQuantityValue(answer.valueQuantity)">
         </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Units</mat-label>
            <input matInput disabled="true" [value]="fhir.getQuantityUnit(answer.valueQuantity)">
         </mat-form-field>
         </div>
     </span>
       <span *ngIf="answer.valueString !== undefined">
         <mat-form-field class="example-full-width" >
            <mat-label>{{item?.text}}</mat-label>
            <textarea matInput disabled=true [value]="answer.valueString" ></textarea>
          </mat-form-field>
     </span>
      <span *ngIf="answer.valueInteger !== undefined">
        <mat-form-field class="example-full-width">
            <mat-label>{{item?.text}}</mat-label>
            <input matInput disabled="true" type="number" [value]="answer.valueInteger.toString()">
          </mat-form-field>
     </span>
     <span *ngIf="answer.valueBoolean !== undefined">
        <mat-checkbox [disabled]="true" [checked]="answer.valueBoolean">{{item?.text}}</mat-checkbox>
     </span>
     <span *ngIf="answer.valueDecimal !== undefined">
          <mat-form-field class="example-full-width">
            <mat-label>{{item?.text}}</mat-label>
            <input matInput disabled="true" type="number" [value]="answer.valueDecimal.toString()">
          </mat-form-field>
     </span>
      <span *ngIf="answer.valueDate !== undefined">
        <mat-form-field class="example-full-width">
            <mat-label>{{item?.text}}</mat-label>
            <input matInput disabled="true" [value]="answer.valueDate | date: 'dd-MMM-yyyy'">
          </mat-form-field>

     </span>
      <span *ngIf="answer.valueDateTime !== undefined">
           <mat-form-field class="example-full-width">
            <mat-label>{{item?.text}}</mat-label>
             <input matInput disabled="true" [value]="answer.valueDateTime | date: 'dd-MMM-yyyy HH:mm'">
          </mat-form-field>
     </span>
      <span *ngIf="answer.valueTime !== undefined">
            <mat-form-field class="example-full-width">
            <mat-label>{{item?.text}}</mat-label>
            <input matInput disabled="true"  [value]="answer.valueTime | date: 'HH:mm'">
          </mat-form-field>
     </span>
   </span>
</form>
