.example-full-width {
  width: 100%;
}
.example-form {
  min-width: 800px;
  width: 100%;
}

.example-half-width {
  width: 48%;
}
.third-width {
  width: 32%;
}

.example-form-fields {
  display: flex;
  align-items: flex-start;
}

::ng-deep .mat-checkbox-layout {
  white-space: normal !important;
}


