<mat-card>
<!--
<div layout="row" layout-align="start center">
  <td-code-editor
    #editor
    class="editor"
    [editorOptions]="{ autoIndent: true, cursorBlinking: 'phase' }"
    theme="vs"
    language='json'
    style="height: 400px"
    [(ngModel)]="editorVal"
    (ngModelChange)="callBackFunc($event)"
    flex
  ></td-code-editor>
</div>
-->
</mat-card>
  <mat-card>
    <p>May call out to the UI version of the FHIR Validator.</p>


    <p>1. Allow user to edit a FHIR resource (must support json) in a text box. Allow file upload???</p>

    <mat-form-field appearance="fill" [style.width.%]="100" >
        <mat-label>Paste Json here.</mat-label>
        <textarea matInput cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="20">{{getResource()}}</textarea>
    </mat-form-field>

  <p>2. Allow user to enter a profile to validate against. This may be a dropdown box (See Kevin M on how to get a list of profiles based on a resource type - it's roughly GET /StructureDefinition?type=[resourceType] e.g. Patient).</p>

    <p>The JSON exampe should have a resourceType element</p>

    <mat-form-field appearance="fill" [style.width.%]="50">
        <mat-label>Select Patient profile</mat-label>
        <mat-select required>
            <mat-option value="volvo">https://fhir.hl7.org.uk/StructureDefinition/UKCore-Patient</mat-option>
            <mat-option value="saab">https://fhir.nhs.uk/StructureDefinition/NHSDigital-Patient</mat-option>
            <mat-option value="mercedes">https://fhir.nhs.uk/StructureDefinition/NHSDigital-Patient-PDS</mat-option>
        </mat-select>
    </mat-form-field>

    <p>3. Users clicks validate and this executes a POST /$validate?profile=[uri from combo box - optional], body is json resource. An example is on the reference server link </p>

    <button mat-raised-button color="primary" (click)="validate()">Validate</button>

    <span *ngIf="response != undefined">
      <mat-card>
      Output from Validation call
        <br/>
          <br/>
      <td-json-formatter [data]="response" [levelsOpen]="2"></td-json-formatter>
    </mat-card>
    </span>

    <p>The response should always be a FHIR a single <a href="https://www.hl7.org/fhir/r4/operationoutcome.html">OperationOutcome</a> which contains a list one or more issues.</p>

    <p>Then results are displayed in a table format. Allow filtering of errors</p>

    <p>See <a href="https://validator.fhir.org/">HL7 FHIR Validator</a> for example layout of table.</p>

    <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef width="5%"> </th>
        <td mat-cell *matCellDef="let issue">
              <span *ngIf="issue.severity === 'error' || issue.severity === 'fatal'">
                <mat-icon color="warn">error</mat-icon>
              </span>
          <span *ngIf="issue.severity === 'warning'">
                <mat-icon color="accent">warning</mat-icon>
              </span>

                                                               <span *ngIf="issue.severity === 'information'">
                                                                  <mat-icon>info</mat-icon>
                                                              </span>
      </ng-container>

      <ng-container matColumnDef="severity">
        <th mat-header-cell mat-sort-header *matHeaderCellDef width="10%"> Severity </th>
        <td mat-cell *matCellDef="let issue">
          {{issue.severity}}</td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell mat-sort-header *matHeaderCellDef width="12%"> Code </th>
        <td mat-cell *matCellDef="let issue">
          {{issue.code}} </td>
      </ng-container>

      <ng-container matColumnDef="diagnostics">
        <th mat-header-cell *matHeaderCellDef> Diagnositics </th>
        <td mat-cell *matCellDef="let issue">
          {{issue.diagnostics}}
        </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef width="25%"> Location </th>
        <td mat-cell *matCellDef="let issue">
              <span *ngIf="issue.location !== undefined">
                <span *ngFor="let location of issue.location">{{location}}</span>
              </span>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


  </mat-card>
