<mat-card class="fullscreen scrollable-content">
      <span *ngIf="parameters !== undefined">
          <button mat-icon-button color="accent"  matTooltip="View FHIR resource" (click)="select(parameters)"><mat-icon>code</mat-icon> ($lookup)</button>
          <br/>
      </span>
    <table style="width: 100%;">
        <tr>
            <td style="width: 50%;">
                <small>Display</small>
                <br/>
                {{concept.display}}

            </td>
            <td> <small>System</small>
                <br/>
                {{concept.system}}
            </td>
        </tr>

        <tr>
            <td>
                <small>Concept</small>
                <br/>
                {{concept.code}}
            </td>
            <td> <small>Module</small>
                <br/>
                {{getParameter('name',this.parameters)}}
            </td>
        </tr>
        <tr>
            <td>
                <small>Inactive</small>
                <br/>
                {{getParameter('inactive',this.parameters)}}
            </td>
            <td> <small>Effective Date</small>
                <br/>
                {{getParameter('effectiveTime',this.parameters)}}
            </td>
        </tr>
    </table>


    <span *ngIf="parameters !== undefined">

         <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <!-- use a disabled button to provide padding for tree leaf -->
                    <button mat-icon-button disabled></button>
                    {{node.name}}
                </mat-tree-node>
                     <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'Toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    {{node.name}}
                </mat-tree-node>
            </mat-tree>

        <table>
             <tr>
                <th style="width: 50%;">Parent Concept</th>
                <th>Child Concept</th>
             </tr>
            <tr>
            <td>
                <mat-list class="mat-list-test" *ngFor="let parent of parentList">
                    <mat-list-item class="mat-list-item-test" (click)="selected(parent)">{{parent.display}}</mat-list-item>
                </mat-list>
            </td>
            <td>
                    <mat-list class="mat-list-test" *ngFor="let child of childList">
                    <mat-list-item class="mat-list-item-test" (click)="selected(child)">{{child.display}}</mat-list-item>
                </mat-list>
            </td>
            </tr>
        </table>
    </span>

</mat-card>
