.example-full-width {
  width: 100%;
}
.example-half-width {
  width: 48%;
}
.third-width {
  width: 32%;
}

.mat-card.scrollable-content {
  overflow-y: auto;
}

mat-list {
  flex-grow: 1;
  border: 1px solid;
  overflow: auto;
}
