.mat-card.scrollable-content {
  overflow-y: auto;
}
.fullscreen {
  height: 100%;
}

.example-full-width {
  width: 100%;
}
.example-half-width {
  width: 48%;
}
.third-width {
  width: 32%;
}

table {
  width: 100%;
}

.mat-list-test {
  display: flex;
  flex-grow: 1;
  overflow: auto;
}

.mat-list-base .mat-list-item.mat-list-item-test {
  width: 250px;
  height: auto;
}


