<mat-card class="fullscreen scrollable-content">
    <mat-card-header>
        <mat-card-title>Form Definition
            <span *ngIf="questionnaire !== null">- {{questionnaire?.title}}</span>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field class="example-full-width">
                <input #searchBoxQuestionnaire matInput placeholder="Description" [value]="getTitle()" (keyup)="searchQuestionnaire(searchBoxQuestionnaire.value)" [matAutocomplete]="autoReason">
                <mat-autocomplete #autoReason="matAutocomplete" (optionSelected)="selectedQuestionnaire($event)" >
                    <mat-option *ngFor="let questionnaire of questionnaire$ | async" [value]="questionnaire" >
                        {{questionnaire.title}}
                    </mat-option>
                </mat-autocomplete>
                <mat-hint align="end">Forms, Templates and whatever other name.</mat-hint>
            </mat-form-field>
        </form>
        <span *ngIf="questionnaire !== undefined">
            <app-questionnaire [questionnaire]="questionnaire"></app-questionnaire>
        </span>
    </mat-card-content>
</mat-card>
