
<mat-card class="fullscreen scrollable-content">
    <td-breadcrumbs>
        <a td-breadcrumb [routerLink]="['/patient', patientId]">Patient</a>
        <a td-breadcrumb [routerLink]="['/patient', patientId, 'observations']">Observations</a>
        <td-breadcrumb>Report</td-breadcrumb>
    </td-breadcrumbs>
    <mat-card-content>
        <div>
            <h3>Diagnostic Report</h3>
            <span flex></span>
        </div>

        <span *ngIf="diagnosticReports.length>0">
                         <app-diagnostic-report [diagnosticReports]="diagnosticReports"> </app-diagnostic-report>
                          </span>
        <span *ngIf="diagnosticReports.length==0">
                          No report found.
                      </span>
    </mat-card-content>
    <span *ngIf="diagnosticReports.length>0">
        <span *ngFor="let diagnosticReport of diagnosticReports">
            <span *ngIf="diagnosticReport.presentedForm !== null">
                 <div>
            <h3>Presented Form</h3>
            <span flex></span>
        </div>
                 <span *ngFor="let attachment of diagnosticReport.presentedForm">
                       <span *ngIf="attachment.contentType !== undefined && attachment.contentType.startsWith('image')">
                            <img class="oversize" [src]="getImage(attachment)" alt="Nowt here"/>
                      </span>
                     <mat-card-content>
                      <span *ngIf="attachment.contentType !== undefined && attachment.contentType.includes('pdf')">
                        <div style="text-align: center;">
                           <pdf-viewer [src]="getData(attachment)"
                                       [render-text]="true"
                                       [show-all]="false"
                                       [page]="page"
                                       (after-load-complete)="afterLoadComplete($event)"
                                       [original-size]="false"
                                       style="width: 600px; height: 800px"
                           ></pdf-viewer>
                          <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
                          <span>{{ page }} / {{ totalPages }}</span>
                          <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
                        </div>
                     </span>
                     </mat-card-content>
                 </span>
            </span>
        </span>
    </span>
    <mat-card-content>
        <div>
            <h3>Observations</h3>
            <span flex></span>
        </div>
        <div *tdLoading="  'overlayStarSyntax'; mode: loadingMode.Indeterminate; type: loadingType.Circular;  strategy: loadingStrategy.Overlay;  color: 'accent'">
                <span *ngIf="observations.length>0">
                             <app-observation [observations]="observations"> </app-observation>
                              </span>
            <span *ngIf="observations.length === 0">
                              No observations found.
                          </span>
        </div>
    </mat-card-content>
</mat-card>
