

    <mat-card class="fullscreen scrollable-content">
        <td-breadcrumbs>
            <a td-breadcrumb [routerLink]="['/patient', patientId]">Patient</a>
            <td-breadcrumb>Forms</td-breadcrumb>
        </td-breadcrumbs>
        <mat-card-content>
            <div fxLayout="row"
                 fxFlexFill >
                <h3>Forms (Last 50)</h3>
                <span flex></span>
            </div>
            <td-markdown>For documentation of the data model see [UKCore-QuestionnaireResponse]({{fhirSrv.getUKCore('https://fhir.hl7.org.uk/StructureDefinition/UKCore-QuestionnaireResponse')}}) and [NHSDigital-QuestionnaireResponse](https://simplifier.net/guide/nhsdigital/Home/FHIRAssets/AllAssets/Profiles/NHSDigital-QuestionnaireResponse)</td-markdown>
            <mat-nav-list *ngIf="patientId !== undefined" class="list-horizontal">
                <mat-list-item>
                    <button mat-button color="accent"  (click)="addForms()">
                        <!-- <mat-icon>filter</mat-icon>--> Add Forms</button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button color="accent"  (click)="addTask()">Add Form CompletionTask</button>
                </mat-list-item>
              <!--  <mat-list-item>
                    <button mat-icon-button color="accent"  (click)="addForms2()"><mat-icon>filter</mat-icon> Add Forms (experimental)</button>
                </mat-list-item> -->
            </mat-nav-list>
            <span *ngIf="forms.length>0">
                     <app-questionnaire-response [forms]="forms"> </app-questionnaire-response>
                      </span>
            <span *ngIf="forms.length==0">
                      No results found.
                  </span>
        </mat-card-content>
    </mat-card>

