<mat-card class="fullscreen scrollable-content example-full-width">
  <td-breadcrumbs>
    <a td-breadcrumb [routerLink]="['/patient', patientId]">Patient</a>
    <a td-breadcrumb [routerLink]="['/patient', patientId, 'documents']">Documents</a>
    <td-breadcrumb>Document</td-breadcrumb>
  </td-breadcrumbs>
  <mat-card-content>
  <h2 mat-dialog-title>
     Document
 </h2>
  <div *ngIf="document !== undefined" style="flex: auto">
      <span >
          <h3>Created</h3>  {{document.date | date: 'dd-MMM-yyyy HH:mm'}}
      </span>
      <span>
          <h3>Type</h3> <span [innerHTML]="fhirService.getCodeableConcept(document.type)"></span>
      </span>
      <span *ngIf="document.category !== undefined" >
          <h3>Category</h3> <span [innerHTML]="fhirService.getCodeableConcepts(document.category)"></span>
      </span>
      <span *ngIf="document.custodian !== undefined">
          <h3>Custodian</h3> <span [innerHTML]="fhirService.getReference(document.custodian)"></span>
      </span>
      <span *ngIf="document.context !== undefined">
          <h3>Setting</h3>
          <span *ngIf="document.context !== undefined" [innerHTML]="fhirService.getCodeableConcept(document.context.practiceSetting)"></span>
      </span>
  </div>

  <span *ngIf="docType === undefined">
  <td-json-formatter *ngIf="binary !== undefined" [data]="binary" key="root" [levelsOpen]="4">
  </td-json-formatter>
    </span>
  <span *ngIf="docType === 'html'">
    <span [innerHTML]="html"></span>
  </span>

  <span *ngIf="docType === 'image'">
    <img class="oversize" [src]="image" alt="Nowt here"/>
  </span>
  <span *ngIf="docType === 'pdf'">

    <div *ngIf="isLoaded" style="text-align: center;">
       <pdf-viewer [src]="pdfSrc"
                   [render-text]="true"
                   [show-all]="false"
                   [page]="page"
                   (after-load-complete)="afterLoadComplete($event)"
                   [original-size]="false"
                   style="width: 600px; height: 800px"
       ></pdf-viewer>
      <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
      <span>{{ page }} / {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
    </div>
  </span>
  </mat-card-content>
</mat-card>



