
.mat-card.scrollable-content {
    overflow-y: auto;
}
.fullscreen {
    height: 100%;
    width: 100%;
}
.example-full-width {
    width: 100%;
}
.example-half-width {
    width: 48%;
}

.oversize {
    width: 100%;
    height: auto;
}
