
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer opened="true" class="example-sidenav" mode="side">
        <form class="example-form">
            <mat-checkbox [(ngModel)]="snomed">UK SNOMED CT</mat-checkbox>
            <span *ngIf="!snomed">
                <!--
                <mat-form-field class="example-full-width">
                  <mat-label>ValueSet</mat-label>
                  <select >
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </mat-form-field>
                -->
            </span>
            <mat-form-field class="example-full-width">
                <input #searchBox matInput placeholder="Concept" (keyup)="search(searchBox.value)" >
                <mat-hint align="end">Concept Term</mat-hint>
            </mat-form-field>
        </form>
        <span *ngIf="concepts$ !== undefined">
            <mat-list *ngFor="let item of concepts$ | async" class="mat-list-test">
                <mat-list-item class="mat-list-item-test"  (click)="selected(item)" [innerHTML]="getMenuDisplay(item)"></mat-list-item>
            </mat-list>
        </span>
    </mat-drawer>

    <div class="example-sidenav-content">
        <app-concept-detail [concept]="concept"></app-concept-detail>
    </div>

</mat-drawer-container>

