

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-card.scrollable-content {
  overflow-y: auto;
}

.example-full-width {
  width: 100%;
}
.example-half-width {
  width: 48%;
}
.third-width {
  width: 32%;
}

.example-form-fields {
  display: flex;
  align-items: flex-start;
}



.fullscreen {
  height: 100%;
}
