<table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
       multiTemplateDataRows
       matSort
       matSortActive="date" matSortDirection="desc">


    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let plan"> {{plan.id}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef > Title </th>
        <td mat-cell *matCellDef="let plan"> {{plan.title}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef > Description </th>
        <td mat-cell *matCellDef="let plan">
            <td-markdown [innerHTML]="plan.description"></td-markdown> </td>
    </ng-container>
    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef > Type </th>
        <td mat-cell *matCellDef="let plan">
            <span *ngIf="plan.code !== undefined && plan.code.length > 0">
                <span [innerHTML]="fhirService.getCodeableConceptValue(plan.code[0])">
                  </span>
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="input">
        <th mat-header-cell *matHeaderCellDef > Input </th>
        <td mat-cell *matCellDef="let plan">
            <span *ngIf="plan.input !== undefined">
                <p *ngFor="let input of plan.input">
                    {{input.type}}
                    <span *ngIf="plan._definitionCanonical !== undefined &&  plan._definitionCanonical.extension !== undefined && plan._definitionCanonical.extension.length>0">({{
                        plan._definitionCanonical.extension[0].valueReference.display
                        }})</span>
                </p>
            </span>
    </ng-container>
    <ng-container matColumnDef="output">
        <th mat-header-cell *matHeaderCellDef > Output </th>
        <td mat-cell *matCellDef="let plan">
            <span *ngIf="plan.output !== undefined">
                <p *ngFor="let output of plan.output">
                    {{output.type}}
                </p>
            </span>
    </ng-container>

    <ng-container matColumnDef="resource">
        <th mat-header-cell *matHeaderCellDef style="min-width: 40px;"></th>
        <td mat-cell *matCellDef="let plan">
            <!-- TODO reenable when completed <button mat-icon-button color="accent" matTooltip="Edit" (click)="edit(referral)"><mat-icon>mode_edit</mat-icon></button>
            <button mat-icon-button color="accent" matTooltip="Delete" (click)="delete(referral)"><mat-icon>delete</mat-icon></button>-->
            <button mat-icon-button color="accent"  matTooltip="View FHIR resource" (click)="select(plan)"><mat-icon>code</mat-icon></button>  </td>
    </ng-container>

    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef style="min-width: 40px;" aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
            </button>
        </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="example-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">

               <span *ngIf="element.action !== undefined">
                   <app-plan-definition-action [actions]="element.action"></app-plan-definition-action>
               </span>
            </div>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>

    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="this.expandedElement = this.expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>


