 <mat-card class="fullscreen scrollable-content">
        <td-breadcrumbs>
            <a td-breadcrumb [routerLink]="['/patient', patientId]">Patient</a>
            <td-breadcrumb>Forms</td-breadcrumb>
        </td-breadcrumbs>
        <td-markdown>This is based on [FHIR Structured Data Capture](http://hl7.org/fhir/uv/sdc/).</td-markdown>

        <mat-card-content>
            <div fxLayout="row"
                 fxFlexFill >
                <h3>Forms (Last 50)</h3>
                <span flex></span>
            </div>
            <td-markdown>Data models [UKCore-QuestionnaireResponse]({{fhirService.getUKCore('https://fhir.hl7.org.uk/StructureDefinition/UKCore-QuestionnaireResponse')}}) and [NHSDigital-QuestionnaireResponse](https://simplifier.net/guide/nhsdigital/Home/FHIRAssets/AllAssets/Profiles/NHSDigital-QuestionnaireResponse).</td-markdown>

            <mat-form-field class="third-width">
                <mat-label>Add Form (NHS England demo)</mat-label>
                <mat-select [(ngModel)]="form" (ngModelChange)="selected($event)">
                    <mat-option *ngFor="let questionnaire of questionnaires" [value]="questionnaire">{{questionnaire.title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <br/>
            <button mat-stroked-button color="accent"  (click)="addTask()">Add Form CompletionTask</button>

            <span *ngIf="forms.length>0">
                     <app-questionnaire-response [forms]="forms"> </app-questionnaire-response>
                      </span>
            <span *ngIf="forms.length==0">
                      No results found.
                  </span>
        </mat-card-content>
    </mat-card>

