<h2 mat-dialog-title>Physical Activity</h2>
<mat-dialog-content #chart >
  <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile><app-observation-chart style="width: 100%; height: 90%;" [patentId]="patientId" observationCode="55423-8" title="Steps"></app-observation-chart></mat-grid-tile>
    <mat-grid-tile><app-observation-chart style="width: 100%; height: 90%;" [patentId]="patientId" observationCode="55411-3" title="Exercise Duration"></app-observation-chart></mat-grid-tile>
    <mat-grid-tile> <app-observation-chart style="width: 100%; height: 90%;" [patentId]="patientId" observationCode="55409-7" title="Exercise Calories"></app-observation-chart></mat-grid-tile>
    <mat-grid-tile> <app-observation-chart style="width: 100%; height: 90%;" [patentId]="patientId" observationCode="444981005" title="Resting Heart Rate"></app-observation-chart></mat-grid-tile>
    <mat-grid-tile> <app-observation-chart style="width: 100%; height: 90%;" [patentId]="patientId" observationCode="41979-6" title="Calories (24hr)"></app-observation-chart></mat-grid-tile>
    <mat-grid-tile> <app-observation-chart style="width: 100%; height: 90%;" [patentId]="patientId" observationCode="8873-2" title="Max Heart Rate (24hr)"></app-observation-chart></mat-grid-tile>
    <mat-grid-tile> <app-observation-chart style="width: 100%; height: 90%;" [patentId]="patientId" observationCode="93832-4" title="Sleep"></app-observation-chart></mat-grid-tile>
  </mat-grid-list>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent" [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>
