<td-layout class="layout-nav-demo" sidenavWidth="280px">

    <td-layout-nav-list navigationRoute="/" [opened]=false mode="side">


        <div td-toolbar-content layout-align="start center" flex>
            <span>&nbsp;</span>
            <span flex>
            FHIR R4 and UKCore Demonstration
            </span>
          <span flex>
            </span>

            <td-dynamic-menu
                    [trigger]="triggerPatient"
                    [items]="itemsPatient"
            ></td-dynamic-menu>
            <span *ngIf="patientId!== undefined">
                <td-dynamic-menu
                        [trigger]="triggerCare"
                        [items]="itemsCare"
                        (itemClicked)="reportClick($event)"
                ></td-dynamic-menu>
            </span>
        </div>
        <router-outlet></router-outlet>
    </td-layout-nav-list>
</td-layout>
