<table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
       multiTemplateDataRows
       matSort
       matSortActive="date" matSortDirection="desc">


    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let plan"> {{plan.id}} </td>
    </ng-container>


    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef > Status </th>
        <td mat-cell *matCellDef="let plan"> {{plan.status}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef > Title </th>
        <td mat-cell *matCellDef="let plan"> {{plan.title}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef > Type </th>
        <td mat-cell *matCellDef="let plan"> <span [innerHTML]="fhirService.getCodeableConceptValue(plan.type)"></span> </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef > Description </th>
        <td mat-cell *matCellDef="let plan">
            <td-markdown [innerHTML]="plan.description"></td-markdown> </td>
    </ng-container>

    <ng-container matColumnDef="resource">
        <th mat-header-cell *matHeaderCellDef style="min-width: 40px;"></th>
        <td mat-cell *matCellDef="let plan">
            <!-- TODO reenable when completed <button mat-icon-button color="accent" matTooltip="Edit" (click)="edit(referral)"><mat-icon>mode_edit</mat-icon></button>
            <button mat-icon-button color="accent" matTooltip="Delete" (click)="delete(referral)"><mat-icon>delete</mat-icon></button>-->
            <button mat-icon-button color="accent"  matTooltip="View FHIR resource" (click)="select(plan)"><mat-icon>code</mat-icon></button>  </td>
    </ng-container>

    <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef style="min-width: 40px;" aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
            </button>
        </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
            <div class="example-element-detail"
                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                 <span *ngIf="element.goal !== undefined">
                     <h3>Goals</h3>
                     <span *ngFor="let goal of element.goal">
                        <span *ngIf="goal.target !== undefined">
                            <p *ngFor="let target of goal.target">
                                <span *ngIf="target.measure !== undefined && target.measure.coding !== undefined">
                                    {{target.measure.coding[0].display}} ({{target.measure.coding[0].code}} - {{target.measure.coding[0].system}})
                                </span>

                            <span *ngIf="target.detailRange !== undefined">
                                <span *ngIf="target.detailRange.low !== undefined">
                                <i>Range low</i> {{target.detailRange.low.value}} {{target.detailRange.low.unit}}
                                </span>
                                  <span *ngIf="target.detailRange.high !== undefined">
                                <i>Range high</i> {{target.detailRange.high.value}} {{target.detailRange.high.unit}}
                                </span>
                            </span>
                            </p>
                        </span>
                     </span>
                 </span>
               <mat-card *ngIf="element.action !== undefined">
                   <h3>Actions</h3>
                   <br/>
                   <app-plan-definition-action [actions]="element.action"></app-plan-definition-action>
               </mat-card>
            </div>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>

    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="this.expandedElement = this.expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>


