<h2 mat-dialog-title>Add Episode/Stay</h2>
<mat-dialog-content #chart >

  <form class="example-form">

    <mat-form-field class="example-half-width">
      <mat-label>Status</mat-label>
      <mat-select required name="stayStatus" [(ngModel)]="stayStatus"  (selectionChange)="checkSubmit()">
        <mat-option *ngFor="let stat of statuses" [value]="stat.code">
          {{stat.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-half-width">
      <mat-label>Type</mat-label>
      <mat-select required id="type"  (selectionChange)="selectedType($event)">
        <mat-option *ngFor="let stat of types" [value]="stat">
          {{stat.display}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <mat-label>Diagnosis</mat-label>
      <mat-select [(ngModel)]="stayConditions" multiple>
        <mat-option *ngFor="let condition of conditions" [value]="condition">{{fhirService.getCodeableConcept(condition.code)}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input #searchBoxOrg matInput placeholder="Managing Organisation" (keyup)="searchOrg(searchBoxOrg.value)" [matAutocomplete]="autoOrg">
      <mat-autocomplete #autoOrg="matAutocomplete" (optionSelected)="selectedOrg($event)" [displayWith]="dlgSrv.getDisplayOrg">
        <mat-option *ngFor="let organization of organisation$ | async" [value]="organization" >
          {{dlgSrv.getDisplayOrg(organization)}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-half-width">
      <mat-label>Start date</mat-label>
      <input matInput [matDatepicker]="start" [(ngModel)]="periodStart">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>
    &nbsp;
    <mat-form-field class="example-half-width">
      <mat-label>End date</mat-label>
      <input matInput [matDatepicker]="end" [(ngModel)]="periodEnd">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
      <mat-datepicker #end></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Referrals</mat-label>
      <mat-select [(ngModel)]="stayServiceRequest" multiple>
        <mat-option *ngFor="let serviceRequest of serviceRequests" [value]="serviceRequest">{{fhirService.getCodeableConceptValue(serviceRequest.code)}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input #searchBoxDr matInput placeholder="Care Manager" (keyup)="searchDoc(searchBoxDr.value)" [matAutocomplete]="autoDr">
      <mat-autocomplete #autoDr="matAutocomplete" (optionSelected)="selectedDr($event)" [displayWith]="dlgSrv.getDisplayDoctor">
        <mat-option *ngFor="let doctor of practitioner$ | async" [value]="doctor" >
          {{dlgSrv.getDisplayDoctor(doctor)}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Care Teams</mat-label>
      <mat-select [(ngModel)]="stayTeams" multiple>
        <mat-option *ngFor="let careTeam of careTeams" [value]="careTeam">{{careTeam.name}}</mat-option>
      </mat-select>
    </mat-form-field>


  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent" [mat-dialog-close]="true" autoFocus>Cancel</button>
  <button mat-raised-button color="accent" [disabled]="disabled" (click)="submit()">Submit</button>
</mat-dialog-actions>

