<div [style]=getStyle()>
    <h3>{{title}}</h3>
    <span  *ngIf="showRange">
        <form class="example-form">
            <mat-form-field>
              <mat-label>Range</mat-label>
              <mat-select [(ngModel)]="selectedValue" name="selectedValue" (selectionChange)="selected($event)">
                <mat-option [value]=12>Year</mat-option>
                <mat-option [value]=6>6 months</mat-option>
                <mat-option [value]=3>3 Months</mat-option>
                <mat-option [value]=2>2 Months</mat-option>
                <mat-option [value]=1>1 Month</mat-option>
              </mat-select>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
              <mat-label>Start date</mat-label>
              <input matInput [matDatepicker]="start" name="start" [(ngModel)]="startDate" (ngModelChange)="functionStartName()">
              <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
              <mat-datepicker #start></mat-datepicker>
            </mat-form-field>
            &nbsp;
            <mat-form-field>
              <mat-label>End date</mat-label>
              <input matInput [matDatepicker]="endpicker" name="endpicker" [(ngModel)]="endDate" (ngModelChange)="functionEndName()">
              <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
              <mat-datepicker #endpicker></mat-datepicker>
            </mat-form-field>
          </form>
    </span>


      <ngx-charts-line-chart *ngIf="multi.length>0"
        [scheme]="colorScheme"
        [results]="multi"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="autoScale"
        [timeline]="timeline"
        [animations]="animations"
        [xScaleMax]="maxScale"
        [xScaleMin]="minScale"
        [yAxisTickFormatting]="axisDigits">
      </ngx-charts-line-chart>

   <span *ngIf="showGrid">

           <span *ngIf="observations.length>0">
                             <app-observation [observations]="observations"> </app-observation>
                              </span>
                <span *ngIf="observations.length==0">
                              No results found.
                          </span>
   </span>
</div>
