<div>
  <table fxFill="100" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let procedure"> {{procedure.id}} </td>
    </ng-container>

    <ng-container matColumnDef="performed">
      <th mat-header-cell *matHeaderCellDef> Performed </th>
      <td mat-cell *matCellDef="let procedure">
        <span *ngIf="procedure.performedDateTime != null">
        {{procedure.performedDateTime | date: 'dd-MMM-yyyy'}}</span>
        <span *ngIf="procedure.performedPeriod != null">
        {{procedure.performedPeriod.start | date: 'dd-MMM-yyyy'}} - {{procedure.performedPeriod.end | date: 'dd-MMM-yyyy'}}</span>
      </td>
    </ng-container>



    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Procedure </th>
      <td mat-cell *matCellDef="let procedure">
          <app-clinical-concept [setConcept]="procedure.code"></app-clinical-concept>
      </td>
    </ng-container>


    <ng-container matColumnDef="bodysite">
      <th mat-header-cell *matHeaderCellDef> Body Site </th>
      <td mat-cell *matCellDef="let procedure">
     <span *ngIf="procedure.bodySite !== undefined">

        <div *ngFor="let code of procedure.bodySite">
          {{code.coding[0].display}}
         <!-- <span *ngIf="isSNOMED(code.coding[0].system)">
            &nbsp;<a (click)="getSNOMEDLink(code.coding[0])"> <span *ngIf="code.coding[0].code !== undefined" class="fa fa-book" matTooltip="{{getCodeSystem(code.coding[0].system)}} {{code.coding[0].code}}"></span> </a>
          </span> -->
        </div>
      </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="complication">
      <th mat-header-cell *matHeaderCellDef> Complication </th>
      <td mat-cell *matCellDef="let procedure">
         <span *ngIf="procedure.complication !== undefined">

                <div *ngFor="let code of procedure.complication">
                  {{code.coding[0].display}}
                <!--  <span *ngIf="isSNOMED(code.coding[0].system)">
                   &nbsp; <a (click)="getSNOMEDLink(code.coding[0])"> <span *ngIf="code.coding[0].code !== undefined" class="fa fa-book" matTooltip="{{getCodeSystem(code.coding[0].system)}} {{code.coding[0].code}}"></span> </a>
                  </span> -->
                </div>
              </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let procedure"> {{procedure.status}} </td>
    </ng-container>


    <ng-container matColumnDef="resource">
      <th mat-header-cell *matHeaderCellDef width="5%">FHIR</th>
      <td mat-cell *matCellDef="let procedure">  <button mat-icon-button color="accent"  matTooltip="View FHIR resource" (click)="select(procedure)"><mat-icon>fireplace</mat-icon></button>  </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>

