
    <mat-card class="fullscreen scrollable-content">
        <mat-card-content>
            <td-breadcrumbs>
                <a td-breadcrumb [routerLink]="['/patient', patientId]">Patient</a>
                <td-breadcrumb>Documents</td-breadcrumb>
            </td-breadcrumbs>
        </mat-card-content>
        <span *ngIf="environment.hintsSupport">
        <td-markdown>This is based on [IHE MHD](https://profiles.ihe.net/ITI/MHD/index.html)</td-markdown>
        </span>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h3>Documents</h3>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <span *ngIf="environment.hintsSupport">
             <td-markdown>Data models [UKCore-DocumentReference]({{fhirService.getUKCore('https://fhir.hl7.org.uk/StructureDefinition/UKCore-DocumentReference')}}) and [NHSDigital-DocumentReference](https://simplifier.net/guide/nhsdigital/Home/FHIRAssets/AllAssets/Profiles/NHSDigital-DocumentReference).</td-markdown>
            </span>
            <span *ngIf="environment.addDataSupport">
                <mat-nav-list *ngIf="patientId !== undefined" class="list-horizontal">
                <mat-list-item>
                    <button mat-button color="accent"  (click)="addDocumentMetadata()">Add Document</button>
                </mat-list-item>
            </mat-nav-list>
            </span>
            <span *ngIf="documents.length>0">
                      <app-document-reference [documents]="documents" (documentReference)="selectDocument($event)"> </app-document-reference>
                       </span>
            <span *ngIf="documents.length==0">
                       No results found.
                   </span>
        </mat-expansion-panel>
    </mat-card>


