<mat-card class="fullscreen scrollable-content" >

    <!-- <mat-tab-group >
  <mat-tab label="Patient Summary">
-->
    <td-markdown>{{ basicFlavoredMarkdown }}</td-markdown>
     <mat-card>
     <mat-card-content>
    <div>
        <h3>Conditions</h3>
           <span flex></span>
    </div>
         <span *ngIf="conditions.length>0">
    <app-condition [conditions]="conditions"> </app-condition>
             </span>
         <span *ngIf="conditions.length==0">
             No results found.
         </span>
     </mat-card-content>
       <mat-card-content>
         <div>
           <h3>Allergies</h3>
           <span flex></span>
         </div>
         <span *ngIf="allergies.length>0">
    <app-allergy-intolerance [allergies]="allergies"> </app-allergy-intolerance>
             </span>
         <span *ngIf="allergies.length==0">
             No results found.
         </span>
       </mat-card-content>
       <mat-card-content>
         <div>
           <h3>Medications (prescriptions)</h3>
           <span flex></span>

         </div>
         <span *ngIf="medicationRequest.length>0">
           <app-medication-request [medicationRequests]="medicationRequest"> </app-medication-request>
             </span>
         <span *ngIf="medicationRequest.length==0">
             No results found.
         </span>
       </mat-card-content>

       <mat-card-content>
         <div>
           <h3>Last 5 Visits/Encounter</h3>
           <span flex></span>

         </div>
         <span *ngIf="encounters.length>0">
            <app-encounter [encounters]="encounters"> </app-encounter>
             </span>
         <span *ngIf="encounters.length==0">
             No results found.
         </span>
       </mat-card-content>
     </mat-card>
<!--
  </mat-tab>

</mat-tab-group>
-->
</mat-card>




