<mat-card class="fullscreen scrollable-content example-full-width">
  <td-breadcrumbs>
    <a td-breadcrumb [routerLink]="['/patient', patientId]">Patient</a>
    <a td-breadcrumb [routerLink]="['/patient', patientId, 'forms']">Forms</a>
    <td-breadcrumb>Form</td-breadcrumb>
  </td-breadcrumbs>
  <mat-card-content>
  <mat-tree  [dataSource]="dataSource" [treeControl]="treeControl" >

    <mat-tree-node *matTreeNodeDef="let item" matTreeNodeToggle>
      <button mat-icon-button disabled></button>

      <app-questionnaire-response-view-item [item]="item"></app-questionnaire-response-view-item>
    </mat-tree-node>
    <mat-nested-tree-node *matTreeNodeDef="let item;when: hasChild" >
      <div class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + item.text">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(item) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        stuf2
        {{item.text}}
      </div>
      <div [class.example-tree-invisible]="!treeControl.isExpanded(item)"
           role="group">
        stuf1
        <ng-container matTreeNodeOutlet></ng-container>
      </div>
    </mat-nested-tree-node>
  </mat-tree>
  </mat-card-content>
</mat-card>

