
    <mat-card class="fullscreen scrollable-content">
        <td-breadcrumbs>
            <a td-breadcrumb [routerLink]="['/patient', patientId]">Patient</a>
            <td-breadcrumb>Care Coordination</td-breadcrumb>
        </td-breadcrumbs>
        <mat-card-content>
            <div>
                <h3>Problems</h3>
                <span flex></span>
            </div>
            <div *ngIf="patientId !== undefined" class="list-horizontal">

                    <button mat-stroked-button color="accent"  (click)="addCondition()">Add Condition</button>

            </div>
            <span *ngIf="conditions.length>0">
                <app-condition [conditions]="conditions" (condition)="getResultsEvent($event)"> </app-condition>
             </span>
            <span *ngIf="conditions.length==0">
                 No problems found.
             </span>
        </mat-card-content>
        <mat-card-content>

                <h3>Care Plans</h3>
                <span flex></span>

            <div *ngIf="patientId !== undefined" class="list-horizontal">

                    <button mat-stroked-button color="accent"  (click)="addCarePlan()">Add Care Plan</button>

            </div>
            <span *ngIf="carePlans.length>0">
                    <app-care-plan [carePlans]="carePlans"> </app-care-plan>
                     </span>
            <span *ngIf="carePlans.length==0">
                     No results found.
                 </span>
        </mat-card-content>
        <mat-card-content>

            <h3>Goals</h3>
            <span flex></span>

            <div *ngIf="patientId !== undefined" class="list-horizontal">

                    <button mat-stroked-button color="accent"  (click)="addGoal()">Add Goal</button>

            </div>
            <span *ngIf="goals.length>0">
                    <app-goal [goals]="goals"></app-goal>
                     </span>
            <span *ngIf="goals.length==0">
                     No results found.
                 </span>
        </mat-card-content>
        <mat-card-content>
            <div >
                <h3>Care Teams</h3>
                <span flex></span>
            </div>
            <div *ngIf="patientId !== undefined" class="list-horizontal">

                    <button mat-stroked-button color="accent"  (click)="addCareTeam()">Add Care Team</button>

            </div>
            <span *ngIf="careTeams.length>0">
                    <app-care-team [careTeams]="careTeams"> </app-care-team>
                     </span>
            <span *ngIf="careTeams.length==0">
                     No results found.
                 </span>
        </mat-card-content>
        <mat-card-content>
            <div  >
                <h3>Stays/Episodes</h3>
                <span flex></span>

            </div>
            <div *ngIf="patientId !== undefined" class="list-horizontal">

                    <button mat-stroked-button color="accent"  (click)="addStay()">Add Episode/Stay</button>
            </div>
            <span *ngIf="episodes.length>0">
                    <app-episode-of-care [episodes]="episodes"> </app-episode-of-care>
                     </span>
            <span *ngIf="episodes.length==0">
                     No results found.
                 </span>
        </mat-card-content>
    </mat-card>

