<mat-card>
<mat-tab-group>
  <mat-tab label="Patient Summary">

     <mat-card>
     <mat-card-content>
    <div fxLayout="row"
         fxFlexFill >
        <h3>Conditions</h3>
           <span flex></span>

    </div>
         <span *ngIf="conditions.length>0">
    <app-condition [conditions]="conditions"> </app-condition>
             </span>
         <span *ngIf="conditions.length==0">
             No results found.
         </span>
     </mat-card-content>
       <mat-card-content>
         <div fxLayout="row"
              fxFlexFill >
           <h3>Allergies</h3>
           <span flex></span>

         </div>
         <span *ngIf="allergies.length>0">
    <app-allergy-intolerance [allergies]="allergies"> </app-allergy-intolerance>
             </span>
         <span *ngIf="allergies.length==0">
             No results found.
         </span>
       </mat-card-content>
       <mat-card-content>
         <div fxLayout="row"
              fxFlexFill >
           <h3>Medications (prescriptions)</h3>
           <span flex></span>

         </div>
         <span *ngIf="medicationRequest.length>0">
           <app-medication-request [medicationRequests]="medicationRequest"> </app-medication-request>
             </span>
         <span *ngIf="medicationRequest.length==0">
             No results found.
         </span>
       </mat-card-content>

       <mat-card-content>
         <div fxLayout="row"
              fxFlexFill >
           <h3>Last 5 Visits/Encounter</h3>
           <span flex></span>

         </div>
         <span *ngIf="encounters.length>0">
            <app-encounter [encounters]="encounters"> </app-encounter>
             </span>
         <span *ngIf="encounters.length==0">
             No results found.
         </span>
       </mat-card-content>
     </mat-card>

  </mat-tab>


        <mat-tab label="PHR Connection">
          <mat-card>
            <mat-card-content>
              <td-message
                label="Warning"
                sublabel="These links will import data into this record. DO NOT CLICK UNLESS YOU UNDERSTAND THIS."
                color="warn"
                icon="warning"
              ></td-message>
              <mat-list>
                <mat-list-item  (click)="connectStrava()" >
                  <img class="img-responsive" src="../../../../assets/images/btn_strava_connectwith_orange.png">
                </mat-list-item>

                <mat-list-item (click)="connectWithings()">
                  <img class="img-responsive"  width="25" height="25"  src="../../../../assets/images/withings.png" > Withings
                </mat-list-item >

              </mat-list>
            </mat-card-content>
          </mat-card>
        </mat-tab>

</mat-tab-group>

</mat-card>




