<mat-card class="fullscreen scrollable-content" >
    <td-breadcrumbs>
        <a td-breadcrumb [routerLink]="['/patient', patientId]">Patient</a>
        <td-breadcrumb>Summary Record</td-breadcrumb>
    </td-breadcrumbs>
    <span *ngIf="environment.hintsSupport">
        <td-markdown>{{ basicFlavoredMarkdown }}</td-markdown>
    </span>
    <div *tdLoading="  'overlayStarSyntax'; mode: loadingMode.Indeterminate; type: loadingType.Circular;  strategy: loadingStrategy.Overlay;  color: 'accent'">

    <mat-card>
        <mat-card-content>
            <div>
                <h3>Allergies</h3>
                <span flex></span>
            </div>
            <span *ngIf="allergies.length>0">
                <app-allergy-intolerance [allergies]="allergies"> </app-allergy-intolerance>
             </span>
            <span *ngIf="allergies.length==0">
             No allergies found.
         </span>
        </mat-card-content>
        <mat-card-content>
            <div>
                <h3>Problems</h3>
                <span flex></span>
            </div>
             <span *ngIf="conditions.length>0">
                <app-condition [conditions]="conditions"> </app-condition>
             </span>
             <span *ngIf="conditions.length==0">
                 No problems found.
             </span>
        </mat-card-content>
        <mat-card-content>
             <div>
               <h3>Medications</h3>
               <span flex></span>
             </div>
            <span *ngIf="environment.addDataSupport">
                <div *ngIf="nhsNumber !== undefined" class="list-horizontal">
                        <button mat-stroked-button color="accent"  (click)="addMedication()">Add Medication Request</button>
                </div>
            </span>
             <span *ngIf="medicationRequests.length>0">
               <app-medication-request [medicationRequests]="medicationRequests"> </app-medication-request>
                 </span>
             <span *ngIf="medicationRequests.length==0">
                 No medications found.
             </span>
        </mat-card-content>
        <mat-card-content>
            <div>
                <h3>Vaccinations</h3>
                <span flex></span>
                <span *ngIf="immunisations.length>0">
                    <app-immunisation [immunisations]="immunisations"  > </app-immunisation>
                 </span>
                <span *ngIf="immunisations.length==0">
                 No immunisations found.
                </span>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div>
                <h3>Results</h3>
                <span flex></span>
                <span *ngIf="results.length>0">
                    <app-diagnostic-report [diagnosticReports]="results" > </app-diagnostic-report>
                 </span>
                <span *ngIf="results.length==0">
                 No results found.
                </span>
            </div>
        </mat-card-content>
        <mat-card-content>
            <div>
                <h3>Procedures</h3>
                <span flex></span>
                <span *ngIf="procedures.length>0">
                    <app-procedure [procedures]="procedures" > </app-procedure>
                 </span>
                <span *ngIf="procedures.length==0">
                 No procedures found.
                </span>
            </div>
        </mat-card-content>
       <mat-card-content>
         <div>
           <h3>Last 5 Visits/Encounter</h3>
           <span flex></span>

         </div>
         <span *ngIf="encounters.length>0">
            <app-encounter [encounters]="encounters"> </app-encounter>
             </span>
         <span *ngIf="encounters.length==0">
             No encounters found.
         </span>
       </mat-card-content>
     </mat-card>
    </div>
</mat-card>




