
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer opened="true" class="example-sidenav" mode="side">
        <form class="example-form">

            <mat-checkbox [(ngModel)]="snomed">CodeSystem (UK SNOMED CT)</mat-checkbox>
            <br/>
            <mat-hint align="end">Untick for ValueSets (UK)</mat-hint>
            <span *ngIf="!snomed">
                <mat-form-field class="example-full-width">
                    <mat-label>ValueSet (UK)</mat-label>
                    <mat-select required name="status" [(ngModel)]="valueSet">
                        <mat-option *ngFor="let vs of valuesSets" [value]="vs">
                            {{vs.title}} <span *ngIf="vs.title === undefined">{{vs.url}}</span>
                            <span *ngIf="vs.status ==='draft'">&nbsp;<i>draft</i></span>
                            <span *nfIf="vs.title === undefined">{{vs.name}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </span>
            <mat-form-field class="example-full-width">
                <input #searchBox matInput placeholder="Concept" (keyup)="search(searchBox.value)" >
                <mat-hint align="end">Concept Term</mat-hint>
            </mat-form-field>
        </form>
        <span *ngIf="concepts$ !== undefined" >
            <mat-list *ngFor="let item of concepts$ | async" class="mat-list-test">
                <mat-list-item class="mat-list-item-test" (click)="selected(item)" [innerHTML]="getMenuDisplay(item)"></mat-list-item>
                <mat-chip-listbox *ngIf="!item.inactive" (click)="selected(item)"><mat-chip>{{getChip(item)}}</mat-chip></mat-chip-listbox>
            </mat-list>
        </span>
    </mat-drawer>

    <div class="example-sidenav-content">
        <app-concept-detail [concept]="concept"></app-concept-detail>
    </div>

</mat-drawer-container>

