<h2 mat-dialog-title>Vital Signs</h2>
<mat-dialog-content #chart >
  <mat-grid-list cols="2" rowHeight="3:1">
    <mat-grid-tile><app-observation-chart style="width: 100%; height: 90%;" [patentId]="patientId" observationCode="364075005" title="Heart Rate"></app-observation-chart></mat-grid-tile>
    <mat-grid-tile><app-observation-chart style="width: 100%; height: 90%;" [patentId]="patientId" observationCode="75367002" title="Blood Pressure"></app-observation-chart></mat-grid-tile>
    <mat-grid-tile><app-observation-chart style="width: 100%; height: 90%;" [patentId]="patientId" observationCode="386725007" title="Body Temp"></app-observation-chart></mat-grid-tile>
    <mat-grid-tile><app-observation-chart style="width: 100%; height: 90%;" [patentId]="patientId" observationCode="27113001" title="Body Weight"></app-observation-chart></mat-grid-tile>
    <mat-grid-tile><app-observation-chart style="width: 100%; height: 90%;" [patentId]="patientId" observationCode="103228002" title="Oxygen Saturation"></app-observation-chart></mat-grid-tile>
    <mat-grid-tile><app-observation-chart style="width: 100%; height: 90%;" [patentId]="patientId" observationCode="86290005" title="Respiratory Rate"></app-observation-chart></mat-grid-tile>

   </mat-grid-list>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent" [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>
